//color pallet
$color1: #005761;
$color2: #ffb000;
$color3: #141416;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu",
    sans-serif;

  .blue {
    color: $color1;
  }
}

header {
  background-image: url(images/bg1.2.png);
  background-size: cover;
  height: 100vh;
  color: #fff;

  nav {
    ul {
      text-align: right;
      padding: 4rem
        8rem;
      li {
        display: inline;
        padding: 1.5rem;
      }
      a {
        text-decoration: none;
        color: #fff;
        font-size: 1rem;
        font-weight: 500;
      }
    }
  }
  .logo_name {
    text-align: center;
    img {
      display: block;
      margin: 0 auto;
      max-width: 5rem;
      padding-top: 4rem;
    }
    h1 {
      padding-top: 3.2rem;
      font-size: 3rem;
      letter-spacing: 2px;
      word-spacing: 1rem;
      font-weight: 700;
    }
    h3 {
      color: $color2;
      padding-top: 1rem;
      font-size: 1.3rem;
      font-weight: 300;
    }
  }

  button {
    margin-top: 4rem;
    font-size: 0.8rem;
    color: #fff;
    background: $color1;
    border: none;
    margin-left: 3rem;
    padding: 0.7rem;
    border-radius: 100%;
    cursor: pointer;
  }
}

#about {
  padding: 8rem 4rem;

  .column {
    float: left;
  }
  .left {
    width: 60%;
    padding: 2rem
      5rem;
    h1 {
      font-size: 2.5rem;
    }
    h4 {
      color: $color1;
      font-size: 1.2rem;
      font-weight: 700;
      padding-top: 0.5rem;
    }
    p {
      padding-top: 2rem;
      padding-right: 4rem;
      font-weight: 700;
    }
    table {
      list-style-type: none;
      padding-top: 2rem;
      td {
        padding: 0.5rem;
        font-weight: 400;
      }
    }
    button {
      color: #fff;
      background: $color1;
      border: none;
      padding: 0.7rem
        1.3rem;
      margin-top: 1.5rem;
      border-radius: 25px;
      cursor: pointer;
    }
  }
  .right {
    img {
      padding-top: 4rem;
      width: 300px;
    }
    text-align: center;
    width: 40%;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
}

#skills {
  h1 {
    text-align: center;
    font-size: 3rem;
  }
  hr {
    text-align: center;
    text-align: center;
    color: $color1;
    display: block;
    margin: 0.5rem
      auto;
    width: 15%;
    padding: 0.05rem
      0;
    background-color: #005761;
  }

  .mySkills {
    .column {
      display: grid;
      grid-template-columns: 50% 50%;

      .skill {
        margin: 0
          10rem;

        h3 {
          padding: 1rem;
          font-size: 1.3rem;
          font-weight: 400;
          text-align: center;
        }

        p {
          text-align: center;
          padding: 1rem;
        }

        .skillText {
          width: 90%;
        }

        .container {
          width: 70%;
          height: 36px;
          background-color: $color1;
          border-radius: 3rem;
          margin: 0
            auto;
          display: block;

          .progress {
            width: 40%;
            height: 100%;
            border: $color1
              solid
              2px;
            background-color: $color2;
            border-radius: 3rem
              0 0
              3rem;
          }
          .html {
            width: 80%;
          }
          .react {
            width: 20%;
          }
          .sass {
            width: 60%;
          }

          .git {
            width: 35%;
          }
          .python {
            width: 60%;
          }
          .javascript {
            width: 70%;
          }
        }
      }
    }
  }
}

#portfolio {
  margin-top: 5rem;
  h1 {
    text-align: center;
    font-size: 3rem;
  }
  hr {
    text-align: center;
    text-align: center;
    color: $color1;
    display: block;
    margin: 0.5rem
      auto;
    width: 25%;
    padding: 0.05rem
      0;
    background-color: #005761;
  }
  .porfolioChoice {
    margin-top: 5rem;
    font-size: 1.2rem;
    color: $color3;
    margin: 6rem 0 0
      2rem;
    border: none;
    text-align: center;
    outline: none;
    option {
      color: $color1;
    }
  }

  .portfolio-grid {
    display: grid;
    grid-template-columns: auto auto auto;

    .portfolio-item {
      text-align: center;
      display: block;
      margin: 2rem
        auto;
      width: 25rem;
      height: 25rem;
      border: 1px
        solid
        $color1;
    }
  }
}
