@import "../assets/styles/colors.scss";

footer {
  background-color: $grey;
  color: #fff;
  padding: 2.4em 0;
  #logo {
    margin-bottom: 1em;
    width: 2em;
  }
  p {
    letter-spacing: 1px;
    word-spacing: 3px;
    font-weight: 400;
  }
}

@media (max-width: 550px) {
  footer {
    font-size: 0.8rem;
  }
}
