@import "../assets/styles/colors.scss";
@import "../assets/styles/buttons.scss";

.portfolio {
  max-width: 100%;
  width: 100%;
  margin-bottom: 12em;
}
.portfolio-title {
  margin-bottom: 1.4em;
}

.portfolio-filter {
  width: 80%;
  margin: 0 auto;
  position: relative;
  display: flex;
  user-select: none;
  margin-bottom: 2em;
}

$tabs: 4; //amount of tabs

@mixin tabs {
  @for $i from 1 through $tabs {
    &:nth-of-type(#{$i}) {
      &:checked {
        ~ .slider {
          left: calc((100% / #{$tabs}) * #{$i - 1});
        }
      }
    }
  }
}

input {
  position: absolute;
  visibility: hidden;
  &:checked {
    + label {
      color: #fff;
    }
  }

  @include tabs;
  &:first-of-type {
    &:checked {
      ~ .slider {
        left: 0;
      }
    }
  }
}

label {
  cursor: pointer;
  color: $grey;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 3em;
  transition: color 0.2s ease-in-out;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
}

.slider {
  background: $blue;
  width: calc(100% / #{$tabs});
  height: 100%;
  position: absolute;
  left: 0;
  transition: left 0.3s linear;
  z-index: -1;
}

@keyframes goDown {
  0% {
    margin-top: -30em;
  }
  100% {
    margin-top: 0;
  }
}

.portfolio-grid {
  width: 20em;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;

  .portfolioCard {
    margin: 0 auto;
    text-align: center;
    width: 20em;
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: 1s all ease;
    margin-bottom: 2em;

    img {
      position: absolute;
      width: fit-content;
      transition: 0.8s ease all;
    }
    h3 {
      display: none;
      font-size: 2.5rem;
      font-weight: 300;
      margin-bottom: 0.3;
      color: $grey;
      animation: goDown 0.7s;
      text-transform: uppercase;
    }
    p {
      display: none;
      font-size: 1.2rem;
      color: $blue;
      font-weight: 300;
      margin-bottom: 3.5rem;
    }
    a {
      margin: 0 auto;
      display: none;
      background-color: #fff;
      font-size: 1rem;
      border: 1.5px solid $blue;
      color: $blue;
      padding: 0.8em 1.5em;
      border-radius: 5px;
      cursor: pointer;
      transition: all ease-in-out 0.5s;
    }
    &:hover {
      transform: scale(0.9);
    }
    &:hover,
    &:active {
      img {
        opacity: 0;
        z-index: -1;
      }
      h3 {
        display: block;
      }
      a {
        display: block;
      }
      p {
        display: block;
      }

      a:hover {
        color: #fff;
        background-color: $blue;
      }
    }
  }
}

@media (min-width: 700px) {
  .portfolio-grid {
    .portfolioCard {
      margin-bottom: 0;
    }
  }
  .portfolio-filter {
    width: 60%;
  }
  .portfolio-grid {
    width: 40em;
  }
}
@media (min-width: 1080px) {
  .portfolio-grid {
    width: 60em;
  }
}
